<!-- <section id="featured-project" class="py-6">
    <div class="section-container">
        <div class="glass-card border border-[#ff2d8d4d] grid lg:grid-cols-[1fr_2fr] gap-12 p-6">
            
            <div class="border-r border-[#ff2d8d4d] pr-6">
                <span class="text-pink-500 font-semibold">
                    Project-Details
                </span>
                    <h2 class="section-subtitle text-white mt-3">
                        Off The Chain Multiverse Studio (OTCMVS)
                    </h2> 
                    <p class="text-xs"><span class="text-sm w-4 h-4 bg-pink-500 rounded-full px-1.5 mr-4"></span>In Production</p>                   
                <span class="text-pink-500 font-semibold">
                    Full Stack Music Studio Management Platform
                </span>
                <p class="text-zinc-400 leading-8 mt-6">
                    A comprehensive platform for managing artist bookings, studio sessions, 
                            songs, subscriptions, payments and analytics.
                </p>

                <div class="">
                    <div class="flex p-2 items-start mt-6">
                        <div class="p-3 border border-[#ffffff14] rounded-lg">
                        </div>             
                        <div class="ps-2">
                            <p class="leading-6 text-zinc-400">Duration</p>
                            <p class="leading-6 text-white">Jan 2025 - April 2025 (4 Months)</p>
                        </div>
                    </div>
                    <div class="flex p-2 items-start mt-6">
                        <div class="p-3 border border-[#ffffff14] rounded-lg">
                        </div>             
                        <div class="ps-2">
                            <p class="leading-6 text-zinc-400">Users</p>
                            <p class="leading-6 text-white">100+ Registered Users</p>
                        </div>
                    </div>
                    <div class="flex p-2 items-start mt-3">
                        <div class="p-3 border border-[#ffffff14] rounded-lg">
                        </div>             
                        <div class="ps-2">
                            <p class="leading-6 text-zinc-400">Category</p>
                            <p class="leading-6 text-white">Web Application</p>
                        </div>
                    </div>
                    <div class="flex p-2 items-start mt-3">
                        <div class="p-3 border border-[#ffffff14] rounded-lg">
                        </div>             
                        <div class="ps-2">
                            <p class="leading-6 text-zinc-400">Live Demo</p>
                            <p class="leading-6 text-pink-500">https://otcmvs/demo.co.za</p>
                        </div>
                    </div>
                    <div class="flex p-2 items-start mt-3">
                        <div class="p-3 border border-[#ffffff14] rounded-lg">
                        </div>             
                        <div class="ps-2">
                            <p class="leading-6 text-zinc-400">Repository</p>
                            <p class="leading-6 text-pink-500">github.com/masego/otcmvs</p>
                        </div>
                    </div>
                </div>
                <div class="section-divider my-4"></div>
                <div class="">
                    <h3 class="mb-6 text-zinc-400">Technologies Used</h3>
                    <div class="grid grid-cols-3 gap-2  mb-6">
                    @for( badge of badges; track badge.title){ 
                        <span class="tech-badge text-xs items-center justify-items-center">
                        {{ badge.title }}
                        </span>
                    }
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                            <button class="primary-btn">
                                Live Demo
                            </button>
                            <button class="secondary-btn">
                                Git Repository
                            </button>
                        </div>
            </div>
            <div classs="border col-span-1">
                <div>
                    <div class="mb-6">
                    <img
                        [src]="selectedImage"
                        alt="Project Screenshot"
                        class="
                        w-full
                        rounded-2xl
                        border
                        border-white/10
                        object-cover
                        h-[450px]
                        ">
                    </div>
                    <div class="flex gap-4 overflow-x-auto pb-2">
                    @for(image of screenshots; track image){
                        <button
                        (click)="changeImage(image)"
                        class="
                            flex-shrink-1
                            overflow-hidden
                            rounded-xl
                            border
                            border-white/10
                            hover:border-pink-500">

                        <img
                            [src]="image"
                            class="
                            h-20
                            w-40
                            object-cover
                            ">
                        </button>
                    }

                    </div>
                </div>
                <div class="mt-6">
                    <div class="flex gap-8 border-b border-white/10 mb-8">
                        <button (click)="setTab('overview')" [class.text-pink-500]="activeTab === 'overview'">
                        Overview
                        </button>

                        <button (click)="setTab('features')" [class.text-pink-500]="activeTab === 'features'">
                        Features
                        </button>

                        <button (click)="setTab('architecture')" [class.text-pink-500]="activeTab === 'architecture'">
                        Architecture
                        </button>

                        <button (click)="setTab('challenges')" [class.text-pink-500]="activeTab === 'challenges'">
                        Challenges
                        </button>

                        <button (click)="setTab('lessons')" [class.text-pink-500]="activeTab === 'lessons'">
                        Lessons Learned
                        </button>
                    </div>
                </div>
                @if(activeTab === 'overview') {
                <div class="grid md:grid-cols-2 gap-8">
                    <div class="glass-card p-6">
                        <h3 class="text-pink-500 mb-4">
                        The Problem
                        </h3>
                        <p>
                        Studios struggled to manage bookings,
                        subscriptions and artist records manually.
                        </p>

                    </div>
                    <div class="glass-card p-6">
                        <h3 class="text-blue-500 mb-4">
                        The Solution
                        </h3>
                        <p>
                        Built a centralized management platform
                        using Angular and ASP.NET Core.
                        </p>
                    </div>
                </div>
                }
                @if(activeTab === 'features') {
                <div class="grid md:grid-cols-2 gap-4">
                    <div class="glass-card p-5">
                        ✓ Artist Management
                    </div>
                    <div class="glass-card p-5">
                        ✓ Booking Management
                    </div>
                    <div class="glass-card p-5">
                        ✓ Subscription Management
                    </div>
                    <div class="glass-card p-5">
                        ✓ Analytics Dashboard
                    </div>
                    <div class="glass-card p-5">
                        ✓ Payment Tracking
                    </div>
                </div>
                }  
                @if(activeTab === 'architecture') {
                <div class="glass-card p-10">
                    <div class="flex flex-col items-center gap-6">

                        <div class="tech-badge">
                        Angular Frontend
                        </div>

                        ↓

                        <div class="tech-badge">
                        ASP.NET Core API
                        </div>

                        ↓

                        <div class="tech-badge">
                        SQL Server
                        </div>

                    </div>
                </div>
                }
                @if(activeTab === 'challenges') {
                <ul class="space-y-4">
                    <li class="glass-card p-5">
                        Implementing JWT Authentication
                    </li>

                    <li class="glass-card p-5">
                        Designing Dashboard Analytics
                    </li>

                    <li class="glass-card p-5">
                        Building Role-Based Access Control
                    </li>
                </ul>
                }
                @if(activeTab === 'lessons') {
                <div class="glass-card p-6">
                <ul class="space-y-4">
                    <li>
                    Better state management improves maintainability.
                    </li>

                    <li>
                    Modular architecture scales better.
                    </li>

                    <li>
                    User experience is as important as functionality.
                    </li>
                </ul>
                </div>
                }             
            </div>
        </div>
    </div>
</section>
 -->

@if(isOpen){

<div
class="fixed inset-0 z-50 bg-black/80 backdrop-blur-md flex justify-center items-center">

<div
class="glass-card w-[95%] h-[92vh] overflow-hidden rounded-3xl">

<div class="flex justify-between items-center p-6 border-b border-white/10">

    <h2 class="text-2xl font-bold">
        {{project.title}}
    </h2>

    <button

    (click)="closeModal()"

    class="text-3xl hover:text-pink-500">

    ×

</button>

</div>

<!-- Body -->

</div>

</div>

}