<nav class="fixed navbar-scrolled top-0 left-0 w-full z-50 bg-slate-950/70 backdrop-blur-md border-b border-slate-800">
  <div class="section-container h-16 flex flex-wrap items-center justify-between mx-auto">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span>< / ></span>
        <span class="self-center font-bold whitespace-nowrap">
            <h1 class="gradient-text text-xl text-heading uppercase section-subtitle ">
               Masego Letsapa
            </h1>
            <p class="text-sm text-white/50 section-subtitle">Developer . Analyst</p>
        </span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button" class="secondary-btn">Download Cv</button>
        <button (click)="toggleMenu()" data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base lg:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
        </button>
    </div>
    <div class="xl:flex items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-neutral-primary">
        <li>
          <button [class.text-pink-500]="navigation.activeSection() === 'home'"  [class.font-semibold]="navigation.activeSection() === 'home'" (click)="navigate('home')" class="block py-2 px-3 text-pink bg-brand rounded-sm md:bg-transparent md:text-fg-brand md:p-0" aria-current="home">Home</button>
        </li>
        <li>
          <button [class.text-pink-500]="navigation.activeSection() === 'about'" [class.font-semibold]="navigation.activeSection() === 'about'" (click)="navigate('about')" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">About</button>
        </li>
        <li>
          <button (click)="navigate('skills')" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Skills</button>
        </li>
        <li>
          <button  (click)="navigate('projects')" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Projects
             @if(navigation.activeSection() === 'projects'){

        <span
            class="absolute left-0 -bottom-2 h-0.5 w-full bg-pink-500 rounded-full">
        </span>

    }
          </button>
        </li>
        <li>
          <button (click)="navigate('experience')" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Experience</button>
        </li>
        <!-- <li>
          <a href="#" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Certifications</a>
        </li> -->
        <li>
          <button (click)="navigate('contact')" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Conact</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
@if(menuOpen()){



<div @drawerAnimation

class="fixed top-0 right-0 z-50 w-80 h-screen bg-[#050816] border-l border-white/10 shadow-2xl">
<div
class="flex items-center justify-between p-6 border-b border-white/10">

    <h2 class="font-bold text-white text-base">

        Navigation

    </h2>

    <button class="border border-white/50 rounded text-white p-2"

    (click)="closeMenu()">

        ✕

    </button>

</div>
    <div class="flex flex-col p-6 gap-6">

<button

(click)="navigate('home');closeMenu()">

Home

</button>

<button

(click)="navigate('about');closeMenu()">

About

</button>

<button

(click)="navigate('skills');closeMenu()">

Skills

</button>

<button [class.text-pink-500]="navigation.activeSection() === 'projects'"

(click)="navigate('projects');closeMenu()">

Projects

</button>

<button

(click)="navigate('experience');closeMenu()">

Experience

</button>

<button

(click)="navigate('contact');closeMenu()">

Contact

</button>

</div>

</div>

}