<section id="about" class="py-24">
    <div class="section-container">
        <div class="glass-card border border-[#ff2d8d4d] grid lg:grid-cols-4 p-6 gap-12 items-center justify-center">
            <div class="">
                <h3 class="uppercase text-pink-500 font-semibold">Ready To Build Something Amazing?</h3>
                <p class="text-sm font-semibold text-white">Im always open to discusing new projects, 
                    creative ideas or opportunities.
                </p>
            </div>
            <div class="">
                <div class="flex p-2 items-center">
                    <div class="p-3 border border-[#ffffff14] rounded-lg">
                    </div>             
                    <div class="ps-2">
                        <h1 class="font-semibold capitalize text-white">Available for:</h1>
                                <ul>
                                    <li>✓ Full-Time Roles</li>
                                    <li>✓ Contract Work</li>
                                    <li>✓ Freelance Projects</li>
                                </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="flex p-2 items-center">
                    <div class="p-3 border border-[#ffffff14] rounded-lg">
                    </div>             
                    <div class="ps-2">
                        <h1 class="font-semibold capitalize text-white">Phone/Email</h1>
                                <p class="leading-6 text-white">063 4654665</p>
                                <p class="leading-6 text-white">masegoletsapa&#64;27gmail.com</p>
                                <p class="leading-6 text-white">Pretoria, South Africa</p>
                    </div>
                </div>
            </div>
            <!-- <div class="">
                <div class="flex p-2 items-center">
                    <div class="p-3 border border-[#ffffff14] rounded-lg">
                    </div>             
                    <div class="ps-2">
                        <h1 class="font-semibold capitalize text-white">Location</h1>
                                <p class="text-sm leading-6 text-zinc-400">Pretoria</p>
                    </div>
                </div>
            </div> -->
            <div class="items-center">
                <button class="primary-btn">
                    Send Message
                </button>
            </div>
        </div>
    </div>
</section>