<section id="about" class="py-24">
    <div class="section-container">
        <div class="glass-card border border-[#ff2d8d4d] grid lg:grid-cols-5 p-6 gap-12 items-center justify-center">
            <div class="">
                <h3 class="uppercase text-pink-500 font-semibold">Lets work together</h3>
                <p class="text-sm text-white">Im always open to discusing new projects, 
                    creative ideas or opportunities.
                </p>
            </div>
            <div class="">
                <div class="flex p-2 items-center">
                    <div class="p-3 border border-[#ffffff14] rounded-lg">
                    </div>             
                    <div class="ps-2">
                        <h1 class="font-semibold capitalize text-white">Email</h1>
                                <p class="text-sm leading-6 text-zinc-400">masegoletsapa27&#64;gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="flex p-2 items-center">
                    <div class="p-3 border border-[#ffffff14] rounded-lg">
                    </div>             
                    <div class="ps-2">
                        <h1 class="font-semibold capitalize text-white">Phone</h1>
                                <p class="text-sm leading-6 text-zinc-400">063 465 4665</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="flex p-2 items-center">
                    <div class="p-3 border border-[#ffffff14] rounded-lg">
                    </div>             
                    <div class="ps-2">
                        <h1 class="font-semibold capitalize text-white">Location</h1>
                                <p class="text-sm leading-6 text-zinc-400">Pretoria</p>
                    </div>
                </div>
            </div>
            <div class="items-center">
                <button class="primary-btn">
                    Send Message
                </button>
            </div>
        </div>
    </div>
</section>