
<section id="tech-skills" class="py-0 mb-8">
    <div class="section-container">
        <h1 class="section-subtitle text-white uppercase font-semibold mb-6">
            <span class="text-xs bg-pink-500 rounded-full px-1.5 mr-4"></span> Technical skills</h1>
            <div class="grid lg:grid-cols-5 gap-6 items-center">           
            @for(skill of skills; track skill.title){
                <div class="glass-card p-6">
                    <h3 class="font-semibold mb-2">{{ skill.icon }} {{ skill.title }}</h3>
                    <ul class="grid grid-cols-1 items-center text-zinc-400 leading-6">
                        <li>{{ skill.text[0] }}</li>
                        <li>{{ skill.text[1] }}</li>
                        <li>{{ skill.text[2] }}</li>
                        <li>{{ skill.text[3] }}</li>
                        <li>{{ skill.text[4] }}</li>
                    </ul>
                </div>
            }
            </div>
    </div>
</section>
