<section class="min-h-screen flex items-center">
  <div class="section-container">
    <div class="grid lg:grid-cols-2 gap-12 items-center">
      <div>
        <span
          class="inline-block px-4 py-2 rounded-full bg-sky-500/10 text-sky-400 mb-6">
           Hi, I'm
        </span>
         <h1 class="text-6xl font-bold mb-6">
          Masego Letsapa 
        </h1>
        <h3 class="section-subtitle font-bold text-white">
           Full Stack <span class="text-sky-400"> Developer </span> | Business <span class="text-sky-400"> Analyst </span>
        </h3>
        <p class="text-slate-400 text-xl mb-8">
          Building scalable web applications with Angular,
          ASP.NET Core, SQL Server and modern technologies.
        </p>

        <div class="flex gap-4">
          <button class="primary-btn">
            View Projects
          </button>

          <button class="secondary-btn">
            Download CV
          </button>
        </div>

      </div>

      <div class="flex justify-center">

        <div
          class="w-96 h-96 rounded-full
                 bg-gradient-to-br
                 from-sky-500/20
                 to-cyan-500/20
                 border border-sky-500/20">
        </div>

      </div>

    </div>

  </div>
<h1 class="gradient-text">
  JOHN SIMON
</h1>

</section>