<div class="glass-card p-6"> 
        <h1 class="section-subtitle text-white uppercase font-semibold mb-6">
            <span class="text-xs bg-pink-500 rounded-full px-1.5 mr-4"></span>
            Stats
        </h1>  
       
        <div class="glass-card grid lg:grid-cols-4 gap-4 mb-16 divide-[#ffffff14] divide-x divide-default"> 
            @for(stat of stats; track stat.title){      
            <div class="p-6 items-center justify-items-center">
                <h3 class="text-base font-bold">
                    {{ stat.value }}
                </h3>
                <p class="text-zinc-400 mt-2">
                    {{ stat.title }}
                </p>
            </div>
            }
        </div>
        <div class="">
            <h3>Top Languages</h3>
            @for(language of languages; track language.title){
                <div class="flex ps-4 mt-10 gap-12 items-center justify-items-between">
                    <div class="">
                        <span>{{ language.title }}</span>
                    </div>
                    <div class="w-full h-2 rounded-full" [ngClass]="language.bgColor">
                        <div class="h-2 rounded-full" [ngClass]="language.value" [ngClass]="language.topColor"></div>
                    </div>
                    <span>{{ language.value }}</span>
            </div> 
            }
                      
        </div>    
</div>
