<!-- 

<div class="glass-card p-8">
    <div class="grid grid-cols-1 gap-4 items-center justify-items-center border">
        <div>
            <img [src]="profile?.avatar_url" class="w-24 h-24 rounded-full">
        </div>
        <h2>{{profile?.name}}</h2>
        <p>{{profile?.bio}}</p>
    </div>





<div class="grid grid-cols-3">

<div>

{{profile?.public_repos}}
{{profile?.private_repos}}

Repositories

</div>

<div>

{{repo?.followers}}

Followers

</div>

<div>

{{profile?.following}}

Following

</div>

</div>

</div> -->