

<app-navbar/> 
<app-hero/>
<section id="about" appSectionObserver="about" class="section-divider my-20"></section>

<app-about/>
<section id="skills" appSectionObserver="skills" class="section-divider my-20"></section>

<app-skill-card/>

<section id="projects" appSectionObserver="projects" class="section-divider my-20"></section>

<app-projects/>
<!-- <div class="section-divider my-20"></div>

 -->
<section id="experience" appSectionObserver="experience" class="section-divider my-20"></section>

<app-experience/>

<section id="contact" appSectionObserver="contact" class="section-divider my-20"></section>

<app-contact/>

<app-footer/>
