<section id="featured-project" class="py-6">
    <div class="section-container">
        <h1 class="section-subtitle text-white uppercase font-semibold mb-6">
            <span class="text-xs bg-pink-500 rounded-full px-1.5 mr-4"></span> Featured Project</h1>
            <div @scaleAnimation class="glass-card project-card grid lg:grid-cols-[1.2fr_1fr] gap-12 p-6">           
                <div class="glass-card min-h-96 flex items-center justify-center rounded-xl">
                    <img class="w-full h-full rounded-xl" src="..//public/otcmvs-db.png">
                </div>
                <div class="grid grid-cols-1 items-center">
                    <div class="grid grid-cols-3 gap-4 "><!-- {{project.title}} -->
                        <div class="tech-badge">
                            <h4 class="text-pink-500 text-2xl font-bold">8+</h4>
                            <p class="text-zinc-400">Modules</p>
                        </div>

                        <div class="tech-badge">
                            <h4 class="text-pink-500 text-2xl font-bold">20+</h4>
                            <p class="text-zinc-400">Features</p>
                        </div>

                        <div class="tech-badge">
                            <h4 class="text-pink-500 text-2xl font-bold">100%</h4>
                            <p class="text-zinc-400">Responsive</p>
                        </div>
                    </div>
                    <div>
                        <h1 class="section-subtitle font-semibold capitalize text-white">off the chain multiverse studio (OTCMVS)</h1>
                        <h2 class="text-pink-500 font-semibold leading-8">Full Stack Music Studio Management System</h2>
                        <p class="leading-6 mt-3 text-zinc-400">A comprehensive platform for managing artist bookings, studio sessions, 
                            songs, subscriptions, payments and analytics.
                        </p>
                    </div>
                    <div>
                        <ul class="grid grid-cols-2 justify-between items-center text-zinc-400 leading-8">
                            <li>Artist & Admin Dashboard</li>
                            <li>Subscription & Payments</li>
                            <li>Booking & Session Managment</li>
                            <li>Reports & Analytics</li>
                            <li>Song & Album Managment</li>
                            <li>Role-based Access Control</li>
                        </ul>
                    </div>
                    <div>
                        <div class="grid grid-cols-3 gap-4 ">
                            <button class="primary-btn">
                                Live Demo
                            </button>
                            <button class="secondary-btn">
                                Git Repository
                            </button>
                            <button (click)="onViewDetails()"  class="secondary-btn">
                                View Details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>



<!--  @if(showProjectModal) {  
  <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/70 backdrop-blur-sm">
      
    <app-project-details/>
    <button 
        class="flex text-white/50 hover:text-white">
            <span (click)="closeProjectModal()">✕</span>
            
    </button>
  </div>  
  
}  -->
<!-- @if(selectedProject){

<app-project-details

    [project]="selectedProject"

    [isOpen]="showProjectModal">

</app-project-details>

} -->