<div class="lg:grid lg:grid-cols-2 gap-12 hidden">
    <div class="glass-card p-6"> 
        <h1 class="section-subtitle text-white uppercase font-semibold mb-6">
                <span class="text-xs bg-pink-500 rounded-full px-1.5 mr-4"></span>Timeline</h1>
        <ol class="relative border-s border-default border-zinc-500 ">                  
            <li class="mb-10 ms-4 mt-20">
                <div class="absolute w-3 h-3 bg-pink-500 rounded-full mt-1.5 -start-1.5"></div>
                <h3 class="section-subtitle font-normal leading-none text-body text-zinc-400">R&amp;R Construction Services</h3>
                <time class="section-title font-normal leading-none text-4xl text-body text-white">February 2025 - May 2026</time>
            </li>
            <li class="mb-10 ms-4 mt-36">
                <div class="absolute w-3 h-3 bg-pink-500 rounded-full mt-1.5 -start-1.5"></div>
                <h3 class="section-subtitle font-normal leading-none text-body text-zinc-400">Boffin & Fundi</h3>
                <time class="section-title font-normal leading-none text-4xl text-body text-white">October 2022 - December 2024</time>
            </li>
            <li class="mb-10 ms-4 mt-24">
                <div class="absolute w-3 h-3 bg-pink-500 rounded-full mt-1.5 -start-1.5"></div>
                <h3 class="section-subtitle font-normal leading-none text-body text-zinc-400">Dynamiq Business Technologies</h3>
                <time class="section-title font-normal leading-none text-4xl text-body text-white">February 2025 - May 2026</time>
            </li>
        </ol>
    </div>

    <div class="glass-card p-6"> 
        <h1 class="section-subtitle text-white uppercase font-semibold mb-6">
                <span class="text-xs bg-pink-500 rounded-full px-1.5 mr-4"></span>Experience</h1>
        <ol class="relative border-s border-default border-zinc-500">                  
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-pink-500 rounded-full mt-1.5 -start-1.5"></div>
            <time class="text-xs font-normal leading-none text-body text-zinc-400 hidden">February 2025 - May 2026</time>
            <h3 class="text-base section-subtitle text-white font-semibold capitalize my-2">R&amp;R Construction Services</h3>
            <h3 class="text-sm font-semibold capitalize my-2 text-pink-500">Full Stack Developer </h3>
            <ul class="mb-4 text-xs font-normal text-body text-zinc-400">
                <li>Developed and maintained full-stack web applications using Angular and 
                    ASP.NET Core, improving efficiency and user experience. Created scalable 
                    RESTful APIs for internal systems and third-party integrations. Collaborated 
                    with stakeholders to define system requirements and translate operational 
                    needs into software solutions. Participated in planning, testing, and 
                    deployment support, and developed reporting dashboards for project and 
                    financial decisions.</li>
            <!--  <li>- Developed reporting dashboards to support project and financial decision-making</li>
                <li>- Worked with internal stakeholders to define and refine system requirements</li>
                <li>- Assisted in translating operational business needs into scalable software solutions</li>
                <li>- Participated in solution planning, testing validation, and deployment support</li>
                <li>- Developed reporting dashboards to support project and financial decision-making</li>
                <li>- Developers and project managers to deliver business-driven solutions</li> -->
            </ul>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-pink-500 rounded-full mt-1.5 -start-1.5"></div>
            <time class="text-sm font-normal leading-none text-body text-zinc-400 hidden">October 2022 - December 2024</time>
            <h3 class="section-subtitle text-white font-semibold capitalize my-2">Boffin &amp; Fundi</h3>
            <h3 class="font-semibold capitalize my-2 text-pink-500">Intermediate Full-Stack Developer &amp; Junior IT Business Analyst</h3>
            <ul class="mb-4 text-xs font-normal text-body text-zinc-400">
                <li>Developed full-stack web applications using Angular and ASP.NET Core, 
                    improving efficiency and user experience. Created scalable RESTful APIs 
                    for internal and third-party use, defined system requirements with stakeholders, 
                    and translated business needs into software solutions. Engaged in solution 
                    planning, testing, validation, and deployment, alongside developing reporting 
                    dashboards for project and financial decisions.</li>
                <!--<li>- Collaborated with stakeholders to translate business needs into technical specifications</li>
                <li>- Created UML diagrams, workflows, and process documentation for development teams</li>
                <li>- Worked closely with developers and testers throughout the software development
                        lifecycle</li>
                <li>- Assisted in system analysis, User Acceptance Testing (UAT), and validation of delivered
                    solutions to ensure alignment with business and functional requirements</li>
                <li>- Built enterprise applications using C#, Javascript, ASP.NET, and SQL Server</li>
                <li>- Developed dashboards and KPI reporting systems for monitoring business performance
                    and operational metrics</li>
                <li>- Integrated third-party APIs to improve operational efficiency and system functionality</li>
                <li>- Managed website deployments, updates and ongoing maintenance while ensuring
                    security, uptime and performance optimization</li> -->
            </ul>
        </li>
        <li class="ms-4">
            <div class="absolute w-3 h-3 bg-pink-500 rounded-full mt-1.5 -start-1.5"></div>
            <time class="mb-1 text-sm font-normal leading-none text-body text-zinc-400 hidden">March 2022 - September 2022</time>
            <h3 class="section-subtitle text-white font-semibold capitalize my-2">Dynamiq Business Technologies</h3>
            <h3 class="font-semibold capitalize my-2 text-pink-500">Front-End Developer &amp; UI/UX Designer</h3>
            <ul class="mb-4 text-xs font-normal text-body text-zinc-400">
                <li>Developed responsive web applications using C# and Angular, collaborated on 
                    UI/UX design, created digital marketing materials and promotional graphics 
                    for campaigns, and implemented SEO best practices to enhance website performance 
                    and online visibility.</li>
                <!-- <li>- UI/UX Collaboration</li>
                <li>- Implemented search engine optimization (SEO) best practices and website performance</li> -->
            </ul>
        </li>
        </ol>
    </div>
</div>

<div class="grid lg:grid-cols-2 gap-12 lg:hidden">
    <div class="glass-card p-6"> 
        <h1 class="section-subtitle text-white uppercase font-semibold mb-6">
                <span class="text-xs bg-pink-500 rounded-full px-1.5 mr-4"></span>Experience</h1>
        <ol class="relative border-s border-default border-zinc-500">                  
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-pink-500 rounded-full mt-1.5 -start-1.5"></div>
            <time class="text-xs font-normal leading-none text-body text-zinc-400">February 2025 - May 2026</time>
            <h3 class="text-base section-subtitle text-white font-semibold capitalize my-2">R&amp;R Construction Services</h3>
            <h3 class="text-sm font-semibold capitalize my-2 text-pink-500">Full Stack Developer </h3>
            <ul class="mb-4 text-xs font-normal text-body text-zinc-400">
                <li>Developed and maintained full-stack web applications using Angular and 
                    ASP.NET Core, improving efficiency and user experience. Created scalable 
                    RESTful APIs for internal systems and third-party integrations. Collaborated 
                    with stakeholders to define system requirements and translate operational 
                    needs into software solutions. Participated in planning, testing, and 
                    deployment support, and developed reporting dashboards for project and 
                    financial decisions.</li>
            </ul>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-pink-500 rounded-full mt-1.5 -start-1.5"></div>
            <time class="text-sm font-normal leading-none text-body text-zinc-400">October 2022 - December 2024</time>
            <h3 class="section-subtitle text-white font-semibold capitalize my-2">Boffin &amp; Fundi</h3>
            <h3 class="font-semibold capitalize my-2 text-pink-500">Intermediate Full-Stack Developer &amp; Junior IT Business Analyst</h3>
            <ul class="mb-4 text-xs font-normal text-body text-zinc-400">
                <li>Developed full-stack web applications using Angular and ASP.NET Core, 
                    improving efficiency and user experience. Created scalable RESTful APIs 
                    for internal and third-party use, defined system requirements with stakeholders, 
                    and translated business needs into software solutions. Engaged in solution 
                    planning, testing, validation, and deployment, alongside developing reporting 
                    dashboards for project and financial decisions.</li>
            </ul>
        </li>
        <li class="ms-4">
            <div class="absolute w-3 h-3 bg-pink-500 rounded-full mt-1.5 -start-1.5"></div>
            <time class="mb-1 text-sm font-normal leading-none text-body text-zinc-400">March 2022 - September 2022</time>
            <h3 class="section-subtitle text-white font-semibold capitalize my-2">Dynamiq Business Technologies</h3>
            <h3 class="font-semibold capitalize my-2 text-pink-500">Front-End Developer &amp; UI/UX Designer</h3>
            <ul class="mb-4 text-xs font-normal text-body text-zinc-400">
                <li>Developed responsive web applications using C# and Angular, collaborated on 
                    UI/UX design, created digital marketing materials and promotional graphics 
                    for campaigns, and implemented SEO best practices to enhance website performance 
                    and online visibility.</li>
            </ul>
        </li>
        </ol>
    </div>
</div>

